@mixin sc-button($button-color, $second-color) {
  color: $second-color;
  background-color: $button-color;
  border-color: $second-color;

  &:hover {
    color: $button-color;
    background-color: $second-color;
    border-color: $button-color;
  }
}

[class*='sc-button-'] {
  padding: 10px 15px;
  font-weight: bold;
  border: 2px solid;
}

.sc-button {

  &-peace {
    @include sc-button($peace, white);
  }

  &-peace-dark {
    @include sc-button($peace-dark, white);
  }

  &-peace-light {
    @include sc-button($peace-light, white);
  }

  &-peace-lighter {
    @include sc-button($peace-lighter, white);
  }

  &-ground {
    @include sc-button($ground, white);
  }

  &-ground-dark {
    @include sc-button($ground-dark, white);
  }

  &-wave {
    @include sc-button($wave, white);
  }

  &-wave-dark {
    @include sc-button($wave-dark, white);
  }

  &-wave-light {
    @include sc-button($wave-light, white);
  }

  &-wave-lighter {
    @include sc-button($wave-lighter, white);
  }

  &-wave-pale {
    @include sc-button($wave-pale, white);
  }

  &-discrete {
    @include sc-button($discrete, white);
  }

  &-discrete-dark {
    @include sc-button($discrete-dark, white);
  }

  &-discrete-light {
    @include sc-button($discrete-light, white);
  }

  &-discrete-lighter {
    @include sc-button($discrete-lighter, white);
  }

  &-juice {
    @include sc-button($juice, white);
  }

  &-juice-light {
    @include sc-button($juice-light, white);
  }

  &-aggressive {
    @include sc-button($aggressive, white);
  }

  &-aggressive-light {
    @include sc-button($aggressive-light, white);
  }

  &-light {
    @include sc-button($light, black);
  }

  &-dark {
    @include sc-button($dark, white);
  }
}