@mixin sc-button($button-color, $second-color) {
  color: $second-color;
  border: 2px solid $second-color;
  background-color: $button-color;
  font-weight: bold;
  padding: 10px 15px;

  &:hover {
    color: $button-color;
    background-color: $second-color;
    border: 2px solid $button-color;
  }
}

.button-peace {
  @include sc-button($peace, white);
}
.button-peace-dark {
  @include sc-button($peace-dark, white);
}
.button-peace-light {
  @include sc-button($peace-light, white);
}
.button-peace-lighter {
  @include sc-button($peace-lighter, white);
}

.button-ground {
  @include sc-button($ground, white);
}
.button-ground-dark {
  @include sc-button($ground-dark, white);
}

.button-wave {
  @include sc-button($wave, white);
}
.button-wave-dark {
  @include sc-button($wave-dark, white);
}
.button-wave-light {
  @include sc-button($wave-light, white);
}
.button-wave-lighter {
  @include sc-button($wave-lighter, white);
}
.button-wave-pale {
  @include sc-button($wave-pale, white);
}

.button-discrete {
  @include sc-button($discrete, white);
}
.button-discrete-dark {
  @include sc-button($discrete-dark, white);
}
.button-discrete-light {
  @include sc-button($discrete-light, white);
}
.button-discrete-lighter {
  @include sc-button($discrete-lighter, white);
}

.button-juice {
  @include sc-button($juice, white);
}
.button-juice-light {
  @include sc-button($juice-light, white);
}

.button-aggressive {
  @include sc-button($aggressive, white);
}
.button-aggressive-light {
  @include sc-button($aggressive-light, white);
}

.button-light {
  @include sc-button($light, black);
}
.button-dark {
  @include sc-button($dark, white);
}