@mixin chevron($size: 25px, $color: $dark) {
  transform: rotate(135deg);
  border: 1px solid $color;
  border-width: 1px 1px 0 0;
  display: inline-block;
  font-size: 0;
  height: $size;
  line-height: 0;
  top: 40%;
  width: $size;
}
